# Fill out and copy to .env.development.local
REACT_APP_GOOGLE_MAPS_KEY=xxxx
REACT_APP_SENTRY_KEY=xxxxdns
REACT_APP_GRAPHQL_URL= https://bolius.rotendahl.dk/graphql/
# If you want to skip the first address input step for development purposes
REACT_APP_SKIP_INPUT = false
