.recom_header {
    font-family: "roboto", sans-serif;
    padding: 30px;
}

.recom {
    background-color: #D8EFFA;
    margin-bottom: 100px;
    padding: 5px;
}


.header_title {
    font-family: "Monospace";
    font-size: 40px;
}

a {
  float: right
}
